files__pycache__/
.idea
*.py[cod]
*$py.class
build/
dist/
*.egg-info/
examples/debug/

#notebooks I'm not finished with yet. 



#Notebooks extra bits
*.pyc
notebooks/.ipynb_checkpoints/*
examples/api/single/.ipynb_checkpoints/*

# VSC extras
.vscode/settings.json
